<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="main.css">
    <title></title>
</head>

<body>
    <form action="/results" method="post">
        <% for(var i = 0; i < keys.length; i++){%>
            <h2><%=keys[i]%>: </h2> <input type="checkbox" name="<%=keys[i]%>" id="">
            <%}%>
            <button type="submit">Search</button>
    </form>
</body>
</html>